fastapi
uvicorn
psutil
pyyaml
numpy<2
opencv-python
scipy
pandas
scikit-learn
scikit-image==0.25.2
matplotlib
pycairo==1.20.1
tqdm
requests
pydantic
python-dotenv
pillow
pygobject
websockets
wsproto
packaging>=21.0
xmltodict
psycopg2-binary==2.9.1
setuptools
wheel
