python3-colcon-common-extensions
g++
cmake
ros-humble-ros-base
ros-humble-cv-bridge
ros-humble-image-transport
ros-humble-rosbridge-server
ros-humble-camera-info-manager
ros-humble-pcl-ros
ros-humble-rosbag2-storage-mcap
libaravis-dev
iputils-ping
rsync
git
sudo
libgstreamer1.0-dev
libgirepository1.0-dev
python3-sphinx
libgstreamer-plugins-base1.0-dev
libzip-dev
ninja-build
aravis-tools-cli
python3-pip
lsb-release
locales
curl
libusb-1.0-0-dev
nano
python3-venv
ros-humble-rosbridge-server
ros-humble-camera-aravis2
meson
libcairo2-dev
python3-distutils
python3-dev
python3-gi
python3-gi-cairo
